/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-fluxdata-fluxinfo {
	display: inline-block;
	font-weight: 600;
	font-family: var(--wp--preset--font-family--gilroy, inherit);

	.fluxdata-value {
		font-size: inherit;
		font-weight: inherit;
		margin: 0;
		line-height: inherit;
	}

	.fluxdata-error {
		opacity: 0.6;
	}

	.fluxdata-loading {
		color: #7f8c8d;
		font-style: italic;
		font-size: 1.1em;
		
		.fluxdata-spinner {
			display: inline-block;
			width: 12px;
			height: 12px;
			border: 2px solid #ddd;
			border-top: 2px solid #7f8c8d;
			border-radius: 50%;
			animation: fluxdata-spin 1s linear infinite;
			margin-right: 6px;
			vertical-align: middle;
		}
	}
}

@keyframes fluxdata-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
