/**
 * FluxData Block Styles
 *
 * Applied both on the front of the site and in the editor.
 */

.wp-block-fluxdata-fluxinfo {
	display: inline-block;
	font-weight: 600;
	font-family: var(--wp--preset--font-family--gilroy, inherit);

	.fluxdata-value {
		font-size: inherit;
		font-weight: inherit;
		margin: 0;
		line-height: inherit;
	}
}
